.toc-container
  nav.toc
    ul
      li
        a(href="#heading-1") Heading 1
        ul
          li
            a(href="#heading-2") Heading 2
          ul
            li
              a(href="#heading-3") Heading 3
            ul
              li
                a(href="#heading-4") Heading 4
              ul
                li
                  a(href="#heading-5") Heading 5
                ul
                  li
                    a(href="#heading-6") Heading 6
    svg(class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg")
      path(stroke="#fe750e" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)")
